#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    padding: 1rem;
}

.startButton {
    min-width: 200px;
    margin-top: 1rem;
    padding: 15px 30px;
    color: #fafbd0;
}
